build/
install/
log/
*.pyc
__pycache__/
.colcon_install_layout
training_frames/
extracted_frames/
extracted_frames - Shortcut.lnk
*.lnk
*.Zone.Identifier
perception/landmarks.db
perception/resource_usage.csv
results/
yolov8n.pt
data/
extracted_signs_v2/
training_signs_v2/
dataset/raw_frames/
dataset/README.roboflow.txt
dataset/README.dataset.txt
*.Zone.Identifier
generate_signs.py:Zone.Identifier
proper_images/
frames_*.pdf
models/
